<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BinaryTree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BAF335D1C1EAA3100C8BA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BAF33761C1EAA3100C8BA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BAF33811C1EAA3100C8BA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
